<div class="todo-wrapper">
  <h1>ToDo List</h1>
  <h3>a SAM example</h3>
  <label class="todo-insert">
    <input placeholder="Insert here your Todo's and press 'Enter' to submit" [value]="input" (keypress)="onInsertInputKeypress($event)"/>
  </label>
  <div class="todo-lists">
    <h4>Unfinished Todo's</h4>
    <div class="item-list undone-list">
      <app-todo-item *ngFor="let todo of todo?.unfinishedTodos; let i = index" [@changePosition]="{value: i, params: {y: i * 60}}"
                     [todo]="todo" (checkChanged)="onCheckChange(todo, $event)" (deleteClick)="onDeleteClick(todo)"></app-todo-item>
    </div>
    <h4>Finished Todo's</h4>
    <div class="item-list done-list">
      <app-todo-item *ngFor="let todo of todo?.finishedTodos; let i = index" [@changePosition]="{value: i, params: {y: i * 60}}"
                     [todo]="todo" [checked]="true" (checkChanged)="onCheckChange(todo, $event)" (deleteClick)="onDeleteClick(todo)"></app-todo-item>
    </div>
  </div>
</div>
