:host {
  display: block;
  background-color: #eaeaea;
  padding: 20px;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #6495ED;
    margin-bottom: 30px;
  }

  .todo-insert {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      font-size: 1.3rem;
      padding: 3px 20px;
      border: none;
      outline: 2px solid #777777;

      &::placeholder {
        color: #bbbbbb;
      }

      &:hover, &:focus {
        outline: 3px solid #6495ED;
      }
    }
  }

  .todo-lists {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-auto-flow: column;
    border: 3px solid #777777;
    padding: 20px;

    h4 {
      font-size: 1.8rem;
      text-align: center;
      text-decoration: underline;
    }

    .item-list {
      position: relative;
      display: block;
      height: 100%;
      padding: 10px;
      background-color: #fbfbfb;

      > * {
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
      }
    }
  }
}
