/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}
