<h2>Time Travel Dev Tool</h2>
<div *ngFor="let action of history; let i = index" class="entry" (click)="onEntryClick(i)"
     [ngClass]="{'present': i === indexActiveEntry, 'future': i > indexActiveEntry}" >
  <h4><span>{{totalActionCount - history.length + i + 1}}. Action: </span>{{action.type}}</h4>
  <pre>{{ prettyPrint(action.payload) }}</pre>
</div>
