:host {
  padding: 20px 10px;
  background-color: #444444;
  border: 8px solid #888888;
  color: #eeeeee;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
  }

  .entry {
    width: 100%;
    //max-height: 140px;
    padding: 12px;
    border: 4px solid #eeeeee;
    background-color: #5a5a5a;
    cursor: pointer;
    margin-bottom: 14px;

    &.future {
      border-color: #888888;
      color: #888888;
    }

    &:hover {
      border-color: #6495ED;
      color: #6495ED;
    }

    &.present {
      border-color: #00CD00;
      color: #00CD00;
    }

    h4 {
      font-size: 1.2rem;
      margin-bottom: 8px;

      span {
        text-decoration: underline;
        margin-right: 15px;
      }
    }

    pre {
      display: block;
      width: 100%;
      padding: 5px 8px;
      border: 2px solid #888888;
    }
  }
}
