.while-loading {
  width: 100%;
  height: 100vh;
  padding: 20vh 20%;

  h1 {
    text-align: center;
    font-size: 5rem;
  }
}

.finished-loading {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 25px;
  padding: 15px 25px;

  > * {
    overflow: auto;
    min-height: calc(100vh - 50px);
  }
}
