:host {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 3px;
  padding: 0 14px;
  background-color: cornsilk;

  p {
    height: 46px;
    font-size: 1.5rem;
    line-height: 46px;
    vertical-align: center;
  }

  .done-checkbox-wrapper {
    box-sizing: content-box;
    position: absolute;
    top: 9px;
    right: 60px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: #ffffff;
    cursor: pointer;

    &.checked::after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 9px;
      width: 5px;
      height: 12px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
      transform: rotate(45deg);
    }

    &:hover {
      margin-top: -1px;
      margin-right: -1px;
      border: 3px solid #6495ED;

      &.checked::after {
        border-color: #6495ED;
      }
    }

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .delete-button {
    position: absolute;
    top: 7px;
    right: 20px;
    width: 25px;
    height: 25px;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: #6495ED;
    }
  }
}
