<p>{{ todo }}</p>
<label class="done-checkbox-wrapper" [ngClass]="{'checked': checked}">
  <input type="checkbox" [value]="todo" (change)="onCheckboxClick()" />
</label>
<i class="material-icons delete-button" (click)="onDeleteButtonClick()">backspace</i>
